.score-keeper {
  width: 200px;
  display: flex;
  margin: 0 auto;
  padding: 10px;
}

.player-info {
  border: 2px solid black;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 8px 0;
  box-sizing: border-box;
  flex-basis: 100%;
}

.player-info.player-0 {
  background-color: #fff;
}

.player-info.player-1 {
  background-color: #333;
  color: #fff;
}

.player-info.active {
  // border-color: red;
}
