.score-keeper {
  width: 200px;
  display: flex;
  margin: 0 auto;
  padding: 10px;
}

.player-info {
  // border: 2px solid #111;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 8px 0;
  box-sizing: border-box;
  flex-basis: 100%;
  position: relative;

  &.active {
    &:after {
      position: absolute;
      content: "";
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 100%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 10px 0 10px;
      border-color: #111 transparent transparent transparent;
    }
  }

  &.player-0 {
    background-color: #fff;
    &:after {
      border-color: #fff transparent transparent transparent;
    }
  }

  &.player-1 {
    background-color: #111;
    color: #fff;
  }
}
