.player-info {
  width: 50%;
  float: left;
  text-align: center;
  font-size: 24px;
  height: 100vh;
}

.player-info.player-1 {
  background-color: #111111;
  color: #ffffff;
}

.player-info.player-0 {
  background-color: #ffffff;
}

.player-info span {
  margin-top: 100px;
  display: block;
}

.player-info h1 {
  margin-top: 5px;
}

.buttons-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}