<div>
  <div *ngFor="let player of players" class="player-info player-{{player.type}}">
    <span>Games won:<h1>{{player.gamesWon}}</h1></span>
  </div>
  <div class="buttons-container" *ngIf="showMenu">
    <div class="logo"></div>
    <button (click)="settings()">New Game</button>
  </div>
  <div class="settings-container" *ngIf="showSettings">
    <div class="logo"></div>

    <div class="formfield">
      <input type="number" [(ngModel)]="config.gameSize" required>
      <label>Game size</label>
    </div>
    <div class="formfield" *ngFor="let player of players">
      <input type="text" [(ngModel)]="player.name" required>
      <label>Player {{player.type}} name</label>
    </div>

    <div class="formfield">
      <input type="checkbox" [(ngModel)]="config.player0isBot">
      <label>{{players[0].name}} is bot</label>
    </div>

    <div class="formfield">
      <input type="checkbox" [(ngModel)]="config.player1isBot">
      <label>{{players[1].name}} is bot</label>
    </div>



    <button (click)="start()">Start Game</button>
  </div>
</div>