.player-info {
  width: 400px;
  max-width: 50%;
  float: left;
  text-align: center;
  padding: 190px 0;
  font-size: 24px;
}

.player-info.player-1 {
  background-color: black;
  color: white;
}

.player-info.player-0 {
  background-color: white;
}

button {
  position: absolute;
  top: 300px;
  left: 400px;
  transform: translateX(-50%)
}