<div>
  <app-menu
    *ngIf="!showCanvas"
    (startGame)="startGame()"
    [players]="players"
    [config]="config">
  </app-menu>
  <app-score-keeper
    #scoreKeeper
    *ngIf="showCanvas"
    [board]="board" 
    [players]="players"
    (gameOver)="gameOver($event)">
  </app-score-keeper>
  <app-canvas #canvas
    [board]="board" 
    *ngIf="showCanvas"
    (boardMouseDown)="boardMouseDown($event)" 
    (boardMouseUp)="boardMouseUp($event)"
    (boardMouseMove)="boardMouseMove($event)">
  </app-canvas>
</div>