/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background: #eee;
    font-family: sans-serif;
}

button {
    background-color: #ccc;
    border: none;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 24px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background: #ddd;
}

button:active {
    background: #bbb;
}